.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ant-layout-header {
  height: 32px;
  padding: 0 50px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 64px;
  background: #c0001a;
  display: flex;
}

.split-left-content {
  height: 100%;
  width: 15%;
  z-index: 1;
  top: 16px;
  overflow-x: hidden;
  padding-top: 20px;
  left: 2px;
  padding-left: 12px;
  float: left
}

.split-center-content {
  height: 100%;
  width: 70%;
  z-index: 1;
  top: 16px;
  overflow-x: hidden;
  padding-top: 20px;
  right: 2px;
  padding-right: 12px;
  float: left
}

.split-right-content {
  height: 100%;
  width: 15%;
  z-index: 1;
  top: 16px;
  overflow-x: hidden;
  padding-top: 20px;
  right: 2px;
  padding-right: 12px;
  float: right
}




.steps-content {
  min-height: 280px;
  margin-top: 16px;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #fafafa;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
}

.steps-action {
  margin-top: 24px;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}